<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jim.multipos">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MultiPosApp"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity-->
        <!--android:name=".ui.signing.SignActivity"-->
        <!--android:windowSoftInputMode="stateHidden" />-->
        <activity
            android:name=".ui.first_configure_last.FirstConfigureActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".ui.vendor.add_edit.VendorAddEditActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".ui.test.UiLayoutsTestActivity" />
        <activity
            android:name=".ui.mainpospage.MainPosPageActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.lock_screen.LockScreenActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main_menu.product_menu.ProductMenuActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".ui.main_menu.customers_menu.CustomersMenuActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.main_menu.inventory_menu.InventoryMenuActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.signing.SignActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".ui.product_class.ProductClassActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".ui.customers_edit.CustomersEditActivity"></activity>
        <activity android:name=".ui.customer_group.CustomerGroupActivity"></activity>
        <activity android:name=".ui.product.ProductsActivity"></activity>
        <activity android:name=".ui.product_class_new.ProductsClassActivity"></activity>
        <activity android:name=".ui.discount.DiscountAddingActivity"></activity>
    </application>

</manifest>