<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jim.multipos">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:name=".MultiPosApp"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.mainpospage.MainPosPageActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>
        <activity
            android:name=".ui.lock_screen.LockScreenActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:lockTaskMode="if_whitelisted"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.product_last.ProductActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="stateHidden"

            >

        </activity>
        <activity
            android:name=".ui.main_menu.product_menu.ProductMenuActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="stateHidden"

            />
        <activity
            android:name=".ui.main_menu.customers_menu.CustomersMenuActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"


            />
        <activity
            android:name=".ui.main_menu.inventory_menu.InventoryMenuActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"

            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.signing.SignActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"

            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".ui.product_class_new.ProductsClassActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"

            />
        <activity
            android:name=".ui.discount.DiscountAddingActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"


            />
        <activity
            android:name=".ui.service_fee_new.ServiceFeeActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"


            />
        <activity
            android:name=".ui.customer_group_new.CustomerGroupActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"


            />
        <activity
            android:name=".ui.consignment.ConsignmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"

            >

        </activity>
        <activity
            android:name=".ui.billing_vendor.BillingOperationsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"


            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".ui.inventory.InventoryActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"


            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".ui.vendor_products_view.VendorProductsViewActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".ui.vendor_item_managment.VendorItemsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".ui.consignment_list.ConsignmentListActivity"

            android:configChanges="keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="stateHidden"

            />
        <activity
            android:name=".ui.customer_debt.CustomerDebtActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"

            />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"

            />
        <activity
            android:name=".ui.cash_management.CashManagementActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"

            />
        <activity
            android:name=".ui.reports.ReportsActivity"

            android:configChanges="keyboard|keyboardHidden|navigation">
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.secure.AuthActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="stateHidden"

            />
        <activity
            android:name=".ui.start_configuration.StartConfigurationActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".utils.usb_barcode.UsbEventReceiverActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="MultiPOS - set remember and click ok"
            android:noHistory="true"
            android:process=":UsbEventReceiverActivityProcess"
            android:taskAffinity="com.example.taskAffinityUsbEventReceiver"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".ui.customers.CustomersActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.vendors.VendorsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.product_queue_list.ProductQueueListActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.products_expired.ExpiredProductsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.reports_admin.ReportsAdminActivity" />
        <activity android:name=".ui.admin_auth_signup.AdminAuthSignupActivity" />
        <activity android:name=".ui.admin_main_page.AdminMainPageActivity" />
        <activity android:name=".ui.admin_auth_signin.AdminAuthSigninActivity" />

        <service
            android:name="com.jim.multipos.utils.usb_barcode.USBService"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".utils.usb_barcode.BootCompleteService" />

        <receiver
            android:name=".DeviceAdminReceiver"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.intent.action.PROFILE_PROVISIONING_COMPLETE" />
            </intent-filter>
        </receiver>

        <!--<receiver-->
        <!--android:enabled="true"-->
        <!--android:name=".utils.usb_barcode.BootCompleteReceiver"-->
        <!--android:priority="999"-->
        <!--&gt;-->
        <!--<intent-filter android:priority="999">-->
        <!--<action android:priority="99999" android:name="android.intent.action.BOOT_COMPLETED"/>-->
        <!--<action android:priority="99999" android:name="android.intent.action.QUICKBOOT_POWERON"/>-->
        <!--<action android:priority="99999" android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>-->
        <!--<action android:priority="99999" android:name="android.intent.action.REBOOT"/>-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->


    </application>
</manifest>